<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../'+navBar) %>
    <a href="/" style="color: white" class="btn btn-dark mx-5 mt-5 ">
        <div class="mx-2 my-0">
            <p class="my-0"><i class="fa-solid fa-arrow-left-long"></i> Inicio</p>
        </div>
    </a>
    <div class="container h-100 justify-content-center" style="max-width: 600px;">
        <div class="card mt-5">
            <div class="card-header p-4">
                <h3>Perfil Admin</h3>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <a class="btn btn-dark" href="/register/asset" style="max-width: 300px;">Agregar activo</a>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-dark mt-1" href="/register/user">Agregar usuario</a>
                        <a class="btn btn-dark mt-1" href="/register/location">Agregar ubicación</a>
                        <a class="btn btn-dark mt-1" href="/register/asset-type">Agregar tipo de activo</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-dark mt-1" href="/register/edit-asset">Editar activo</a>
                        <a class="btn btn-dark mt-1" href="/register/edit-user">Editar usuario</a>
                        <a class="btn btn-dark mt-1" href="/register/edit-location">Editar ubicación</a>
                        <a class="btn btn-dark mt-1" href="/register/edit-asset-type">Editar tipo de activo</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
<%- include('../partials/footer') %>
</html>