<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('partials/navigation') %>
        <div class="container mt-5">
            <div class="card" style="border-radius: 15px;">
                <div class="card-header p-4 justify-content-center align-items-center">
                    <h3>Agregar activo fijo</h3>
                </div>
                <div class="card-body">
                    <div class="row align-items-center m-2">
                        <div class="col-md-3">
                            <h6 class="mb-0">Nombre del activo</h6>
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="asset-name" id="" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="row align-items-center m-2">
                        <div class="col-md-3">
                            <h6 class="mb-0">Tipo de activo</h6>
                        </div>
                        <div class="col-md-9">

                            <select class="form-select" aria-label="Default select example">
                                <option selected>Elija una opción</option>
                                <option value="1">Electrónico</option>
                                <option value="2">Mobiliario</option>
                                <option value="3">Libro</option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center m-2">
                        <div class="col-md-3">
                            <h6 class="mb-0">Ubicación</h6>
                        </div>
                        <div class="col-md-9">

                            <select class="form-select" aria-label="Default select example" id="placesOptions">
                                <option selected>Elija una opción</option>
                                <!-- <option value="1">Sala 1</option>
                                <option value="2">Sala 2</option>
                                <option value="3">Biblioteca</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center m-2">
                        <div class="col-md-3">
                            <h6 class="mb-0">Encargado</h6>
                        </div>
                        <div class="col-md-9">

                            <select class="form-select" aria-label="Default select example">
                                <option selected>Elija una opción</option>
                                <option value="1">Pedro Perez</option>
                                <option value="2">Juan González</option>
                                <option value="3">Julio Toro</option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center m-2">
                        <div class="col-md-3">
                            <h6 class="mb-0">Descripción</h6>
                        </div>
                        <div class="col-md-9">
                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <hr class="mx-n3">

                <div class="px-5 py-4">
                    <button type="submit" class="btn btn-dark btn-lg">Registrar</button>
                </div>


            </div>

        </div>
        <script src="/js/asset-register.controller.js"></script>
</body>
<%- include('partials/footer') %>

</html>