<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include(navBar) %>
    <a href="/" style="color: white" class="btn btn-dark mx-5 mt-5 ">
        <div class="mx-2 my-0">
            <p class="my-0"><i class="fa-solid fa-arrow-left-long"></i> Inicio</p>
        </div>
    </a>
    <div class="container h-100 mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-header p-4 text-center">
                        <h3>Error!</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h1>Esquizo, ha ocurrido un error ;)</h1>
                        </div>
                        <div class="text-center">
                            <IMG SRC="https://i1.rgstatic.net/ii/profile.image/272807896547346-1442053879896_Q128/Marcos-Chait.jpg">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<%- include('partials/footer') %>
</html>