<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include(navBar) %>
    <div class="container h-100 mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-header p-4">
                        <h3>Error!</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <h1>Esquizo, ha ocurrido un error ;)</h1>
                        </div>
                        <div>
                            <IMG SRC="https://i1.rgstatic.net/ii/profile.image/272807896547346-1442053879896_Q128/Marcos-Chait.jpg">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<%- include('partials/footer') %>
</html>