<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/head') %>
    <title><%= title %></title>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <div class="container h-100 mt-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="col-md-12">
              <video id="preview" width="100%"></video>
            </div>
            <div class="col-md-12">
              <label center>Resultado de escaneo</label>
              <form action="#" method="post" name="Resultado">
                <input type="text" name="text" id="text" readonly="" placeholder="Resultado" class="form-control"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      let scanner = new Instascan.Scanner({
        video: document.getElementById("preview"),
      });
      scanner.addListener("scan", function (content) {
        console.log(content);
      });
      scanner.addListener("scan", function (c) {
        document.getElementById("text").value = c;
        document.Resultado.submit();
      });
      Instascan.Camera.getCameras()
        .then(function (cameras) {
          if (cameras.length > 0) {
            scanner.start(cameras[0]);
          } else {
            console.error("No cameras found.");
          }
        })
        .catch(function (e) {
          console.error(e);
        });
    </script>
  </body>
  <%- include('partials/footer') %>
</html>
