<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../'+navBar) %>
    <div class="container h-100 justify-content-center" style="max-width: 600px;">
        <div class="card mt-5">
            <div class="card-header p-4">
                <h3 style="text-align:center">FIXUM</h3>
            </div>
            <div class="card-body">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/scan" style="max-width: 300px;"><label class="fa-solid fa-qrcode"></label> Escanear</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/edit/Assets" style="max-width: 300px;"> <label class="fa-solid fa-clipboard-list"></label> Activos</a>
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/edit/Users"><label class="fa-solid fa-user-friends"></label> Usuarios</a>
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/edit/location"><label class="fa-solid fa-location-dot"></label> Ubicaciones</a>
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/edit/AssetTypes"><label class="fa-solid fa-clipboard-question"></label> Tipos de Activos</a>
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/edit/UserPosition" style="max-width: 300px;"><label class="fa-solid fa-user-tag"></label> Cargos</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/reports" style="max-width: 300px;"><label class="fa-solid fa-table"></label> Reportes</a>
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/notifications" style="max-width: 300px;"><i class="fa-solid fa-flag"></i></label> Enviar avisos</a>
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/print" style="max-width: 300px;"><label class="fa-solid fa-print"></label> Imprimir</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-outline-warning btn-dark mt-1" href="/admin-profile" style="max-width: 300px;"><label class="fa-solid fa-user-tie"></label> Perfil</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-outline-danger btn-dark mt-1" href="/logout" style="max-width: 300px;"><label class="fa-solid fa-sign-out"></label> Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
<%- include('../partials/footer') %>
</html>