<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../'+navBar) %>
    <div class="container h-100 justify-content-center" style="max-width: 600px;">
        <div class="card mt-5">
            <div class="card-header p-4">
                <h3>Home</h3>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <button type="button" class="btn btn-dark mr-2 col-md-6 col-sm-12" href="/register/asset" style="max-width: 300px;">Agregar activo</button>
                    <button type="button" class="btn btn-dark mr col-md-6 col-sm-12" href="/register/asset" style="max-width: 300px;">Agregar activo</button>
                </div>
                <div class="row d-flex justify-content-center align-items-center h-100">
                    
                    <a class="btn btn-dark mt-1 col-md-6" href="/register/user" style="max-width: 300px;">Agregar usuario</a>

                </div>
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <a class="btn btn-dark mt-1 col-md-6" href="/register/location" style="max-width: 300px;">Agregar ubicación</a>

                    
                </div>
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <a class="btn btn-dark mt-1 col-md-6" href="/register/asset-type" style="max-width: 300px;">Agregar tipo de activo</a>
                    
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>
</html>