<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/navigation') %>
    <div class="card border-dark m-2 d-flex justify-content-center align-items-center" style="max-width: 500px;" >
        <div class="card-header"> Reportes </div>
        <div class="card-body">
            </div>
            <div class="card-body">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 300px;">
                        <a class="btn btn-dark mt-1" href="/reports/last-10-added">Últimos 10 activos agregados</a>
                        <a class="btn btn-dark mt-1" href="/reports/totalByAssets">Total Valor por Activo</a>
                        <a class="btn btn-dark mt-1" href="/reports/totalByAssetsTypes">Total Valor por Tipo Activo</a>
                        <a class="btn btn-dark mt-1" href="/reports/totalAssetsByLocation">Total Activos por Ubicacion</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
<%- include('../partials/footer') %>
</html>