<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../'+navBar) %>
    <a href="/" style="color: white" class="btn btn-dark mx-5 mt-5 ">
        <div class="mx-2 my-0">
            <p class="my-0"><i class="fa-solid fa-arrow-left-long"></i> Inicio</p>
        </div>
    </a>
    <div class="container h-100 justify-content-center" style="max-width: 800px;">
        <div class="card mt-5">
            <div class="card-header p-4">
                <h3>Reportes</h3>
            </div>
            <div class="card-body">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 500px;">
                        <a class="btn btn-dark mt-1" href="/reports/last-10-added">Últimos 10 activos agregados/modificados</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 500px;">
                        <a class="btn btn-dark mt-1" href="/reports/totalByAssets">Total Valor por Activo</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 500px;">
                        <a class="btn btn-dark mt-1" href="/reports/totalByAssetsTypes">Total Valor por Tipo Activo</a>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center justify-content-center m-2">
                    <div class="btn-group-vertical" role="group" style="max-width: 500px;">
                        <a class="btn btn-dark mt-1" href="/reports/totalAssetsByLocation">Total Activos por Ubicacion</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
<%- include('../partials/footer') %>
</html>